@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    /* height: 100vh;
    width:100vw;
    overflow-x: hidden; */
    box-sizing: border-box;
    font-family: 'Rubik',
        sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.div-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header-main {
    padding: 1em;
    background-color: #1d1d1d;
    color: #fff;
    box-shadow: 0px 4px 5px -2px #1d1d1d;
}

.header-main h1 {
    font-size: 2.75em;
}


.div-main {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button-country {
    padding: 1em;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 5px 4px -3px #333333;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    background: linear-gradient(30deg, #3bbeff, #df1a6c);
    transition: 0.3s;
}

.button-country:hover {
    cursor: pointer;
    box-shadow: 0px 10px 13px -6px #1d1d1d;
    transform: translateY(-3px);
}


.div-statrow {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.div-statvalue {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.h3-updated,
.h3-countryupdated {
    font-size: 1.5em;
    color: rgb(148, 2, 211);
}

.p-confirmed,
.p-countryconfirmed {
    color: rgba(37, 37, 37, 0.66);
    font-size: 3em;
}

.p-deaths,
.p-countrydeaths {
    color: rgb(230, 37, 37);
    font-size: 3em;
}

.p-recovered,
.p-countryrecovered {
    color: rgb(7, 197, 61);
    font-size: 3em;
}

.p-active,
.p-countryactive {
    font-size: 3em;
    color: rgb(0, 0, 128);
}

.p-critical,
.p-countrycritical {
    font-size: 3em;
    color: rgb(0, 128, 128);
}

.footer-main {
    padding: 1.5em;
}

.p-source {
    color: #a1a1a1;
    font-size: 0.75em;
}

.p-footer {
    font-size: 1.2em;
    font-weight: 300;
}

.p-footer a {
    text-decoration: none;
    color: #df1a6c;
    text-shadow: 0px 0px 3px #ff006a;
    transition: 0.3s;
}

.p-footer a:hover {
    color: #0076b1;
    text-shadow: 0px 0px 5px #006495;
}

.fa-code {
    color: rgb(0, 224, 0);
}

.fa-heart {
    color: rgb(218, 35, 35);
}

.div-chart {
    position: relative;
    padding: 1em 10em;
}


@media only screen and (max-width:1440px) {
    .div-chart {
        padding: 1em 7em;
    }
}


@media only screen and (max-width:1200px) {
    .div-chart {
        padding: 1em 3em;
    }
}

@media only screen and (max-width:768px) {
    .div-chart {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .header-main h1 {
        font-size: 2.2em;
    }

    .div-main {
        padding: 1em;
    }

    .footer-main {
        padding: 1em;
    }

    .p-footer {
        font-size: 1em;
    }
}